@use '@mixins' as *;

.menu {
  background-color: var(--color-menu-background);
  border-radius: 16px;
  display: flex;
  align-items: stretch;
  padding: 8px;
  gap: 8px;

  @include width-less(479px) {
    justify-content: space-between;
  }
}

.item {
  background-color: var(--color-menu-item-background);
  border-radius: 8px;
  padding: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-menu-item-hover-background);
  }
}

.gap {
  flex-grow: 1;

  @include width-less(479px) {
    display: none;
  }
}

.icon {
  height: 1.5lh;
}

.image {
  border-radius: 4px;
  object-fit: contain;
}

.label {
  padding-right: 4px;

  @include width-less(479px) {
    display: none;
  }
}

.name {
  padding-left: 4px;

  @include width-less(1023px) {
    display: none;
  }
}
