@use '@mixins' as *;

.menu {
  background-color: var(--color-menu-background);
  border-radius: 16px;
  height: 60px;
}

.user {
  --foo: 0;
}

.userpic {
  display: none;
}

.username {
  @include width-less(1023px) {
    display: none;
  }
}
