@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Roboto-Italic.woff2') format('woff2');
}
